<html> 
    {% include "barra2.html"%} 
<head> 

    <title>Busqueda de productos</title>
</head>  
<head> 
    Contactar:
</head>
<body>  
    <h1> 
        Contactanos
    </h1>
<form action="/contacto/" method="POST">{%csrf_token%} <!--esta vez es post pq se pretende que a nosotros se nos envie un mail como propietarios  --> 


<p>Asunto: <input type ="text" name = "asunto"></p> 
<p>email: <input type ="text" name = "email"></p>   
<p>Mensaje: <textarea name ="mensaje" rows="15" cls="45"></textarea></p>
<input type="submit" value="enviar"> 




</form>   




</body>
</html>