<html> 
<body> 

<p> 
Estas buscando: <strong>{{query}}</strong>
</p>
{%if pedidos%} <!--se usa este condicional para ver que si le esté llegando la info  -->
<p> 
    Pedidos encontrados: {{pedidos|length}} pedidos, fecha de la Busqueda: {{fecha}} <!-- muestra la longitud de esos articulos encontrados  -->
</p> 
<ul>  
    {% for pedido  in pedidos%} <!--se  recorre la lista para mostrar los articulos  -->
    <li>  
        {{pedido.numero}}&nbsp; {{pedido.entregado}}
    </li> 
    {%endfor%}
</ul> 
{%else%} 
<p> 
No está el pedido buscado
</p> 
{%endif%}
</body>



</html>